<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.cleaners">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/splash_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="your public key obtained from: https://dashboard.paystack.co/#/settings/developer" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".CleanActivity"
            android:label="@string/title_activity_clean"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Clean2Activity"
            android:label="@string/title_activity_clean"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PestActivity"
            android:label="@string/title_activity_pest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookingActivity"
            android:label="@string/title_activity_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".Aboutctivity"
            android:label="@string/title_activity_aboutctivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About2Activity"
            android:label="@string/title_activity_about2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PayActivity"
            android:label="@string/title_activity_pay"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>